In [7]:
import numpy as np
import pandas as pd
results_dataframe = pd.read_csv(r'C:\Users\marmy\Documents\GitHub\Kommunikasjonssdesign\test_task\data\results.csv')
circuits_dataframe = pd.read_csv(r'C:\Users\marmy\Documents\GitHub\Kommunikasjonssdesign\test_task\data\circuits.csv')
drivers_dataframe = pd.read_csv(r'C:\Users\marmy\Documents\GitHub\Kommunikasjonssdesign\test_task\data\drivers.csv')
races_dataframe = pd.read_csv(r'C:\Users\marmy\Documents\GitHub\Kommunikasjonssdesign\test_task\data\races.csv')
constructor_dataframe = pd.read_csv(r'C:\Users\marmy\Documents\GitHub\Kommunikasjonssdesign\test_task\data\constructors.csv')

results_dataframe.head()
drivers_dataframe.head()

driver_result_dataframe = pd.merge(results_dataframe,drivers_dataframe,on='driverId')
race_result_dataframe = pd.merge(driver_result_dataframe,races_dataframe,on='raceId')
complete_race_data_dataframe = pd.merge(race_result_dataframe,constructor_dataframe,on='constructorId')

complete_race_data_dataframe.head()

complete_race_data_dataframe = complete_race_data_dataframe.drop
(columns=['url_x','url_y','name_y','nationality_y’,’url’,’time_y’])
complete_race_data_dataframe.head()

total_wins = complete_race_data_dataframe[(complete_race_data_dataframe[‘position’]== ‘1’)] total_wins[‘position_mod’] = total_wins[‘position’].astype(int)
total_wins = total_wins.groupby([‘driverRef’,’nationality_x’])[‘position_mod’].sum().reset_index()
total_wins = total_wins.sort_values(by=[‘position_mod’], ascending=False)
total_wins = total_wins.head(10)

,resultId,raceId,driverId,constructorId,number_x,grid,position,positionText,positionOrder,points,...,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time,constructorRef,name_y,nationality_y,url
0,1,18,1,1,22,1,1,1,1,10.0,...,\N,\N,\N,\N,\N,\N,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,5,18,5,1,23,3,5,5,5,4.0,...,\N,\N,\N,\N,\N,\N,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
2,27,19,1,1,22,9,5,5,5,4.0,...,\N,\N,\N,\N,\N,\N,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
3,25,19,5,1,23,8,3,3,3,6.0,...,\N,\N,\N,\N,\N,\N,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
4,57,20,1,1,22,3,13,13,13,0.0,...,\N,\N,\N,\N,\N,\N,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren